{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="text-center my-1 fs-5">회원 정보🧢</div>
<hr/>
<br>
<form action="{% url 'user:mypage_update' %}" method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  <div class="d-flex flex-column align-items-center my-1">
    <div class="d-flex">
      {% if profile_image %}
        <div class="mypage_profile_container text-center">
          <img id="pro_img" src="{{ profile_image.url }}" style="width:100px; height:100px; border-radius:50%; border: 1px solid gray">
          <div class="my-1 fs-3">{{user}}</div>
          <small style="">기본프로필로 설정</small>
          <input type="checkbox" name="check1" />
          <br>
          <div class="filebox">
            <label for="file" >프로필사진 업로드</label> 
            <input type="file" name="image" onchange="fileUpload({{ user.id }})" id="file">
          </div>
        </div>
        
      {% else %}
        <div class="mypage_profile_container text-center">
          <img id="pro_img" src="{% static 'img/default_profile.svg' %}" style="width:100px; height:100px; border-radius:50%; border: 1px solid gray" />
          <div class="my-1 fs-3">{{user}}</div>
          <br>
          <div class="filebox">
            <label for="file">프로필사진 업로드</label> 
            <input type="file" name="image" onchange="fileUpload({{ user.id }})" id="file" />
          </div>
        </div>
      {% endif %}
    </div>
    <div class="d-flex mypage_information_container flex-column" style="width: 95vw;">
      <br>
      <div class="fs-5">회원정보</div>
      <br>
  
      <div class="d-flex align-items-center">
        <div class="mx-2">핸드폰 번호 : </div>
        {% if phone_num %}
        <input name="phone_num" placeholder="핸드폰 번호" value="{{ phone_num }}" />
        {% else %}
        <input name="phone_num" placeholder="핸드폰 번호" value="" />
        {% endif %}
      </div>
  
      <div class="d-flex align-items-center">
        <div class="mx-2">성별 : </div>
        {% if gender == '여자' %}
          <input type="radio" name="gender" value="male">남자</input>
          <div class="mx-1"></div>
          <input type="radio" name="gender" value="female" checked>여자</input>
          <div class="mx-1"></div>
          <input type="radio" name="gender" value="nochoice">선택안함</input>
        {% elif gender == '남자' %}
          <input type="radio" name="gender" value="male" checked>남자</input>
          <div class="mx-1"></div>
          <input type="radio" name="gender" value="female">여자</input>
          <div class="mx-1"></div>
          <input type="radio" name="gender" value="nochoice">선택안함</input>
        {% else %}
          <input type="radio" name="gender" value="male">남자</input>
          <div class="mx-1"></div>
          <input type="radio" name="gender" value="female">여자</input>
          <div class="mx-1"></div>
          <input type="radio" name="gender" value="nochoice" checked>선택안함</input>
        {% endif %}
      </div>
  
      <div class="d-flex align-items-center">
        <div class="mx-2">키 : </div>
        {% if height %}
        <input name="height" placeholder="키" value="{{ height }}" />
        {% else %}
        <input name="height" placeholder="키" value="" />
        {% endif %}
      </div>
  
      <div class="d-flex align-items-center">
        <div class="mx-2">몸무게 : </div>
        {% if weight %}
        <input name="weight" placeholder="몸무게" value="{{ weight }}" />
        {% else %}
        <input name="weight" placeholder="몸무게" value="" />
        {% endif %}
      </div>
  
      {% for field in date_form %}
      <div class="form-group d-flex align-items-center">
        <label for="{{ field.id_for_label }} mx-2">생년월일 : </label>
        <input class="mx-1"
          type="{{ field.field.widget.input_type }}"
          id="{{ field.id_for_label }}"
          name="birth_date"
          value="{{ initial_date }}"/>
      </div>
      <div></div>
      {% endfor %}
      <br>
      <input class="btn btn-secondary modify_btn" type="submit", value="저장하기" />
    </div>

    {% comment %} <div class="d-flex">
      <div class="mx-2">팔로잉 : </div>
      {% if str_following != 'auth.User.None' %}
      <div>팔로잉 목록</div>
      {% for follow in following %}
      <div>{{ follow }}</div>
      <small style="color:white">팔로우 취소</small>
      <input type="checkbox" name="check2" />
      {% endfor %}
      {% else %}
      <div>팔로잉을 아직 아무도 하지 않았어요!</div>
      {% endif %}
    </div> {% endcomment %}
    <br>
  </div>
</form>

<script>
  const strip = (string) => {
    return string.replace(/^\s+|\s+$/g, "");
    };
  const requestUpload = new XMLHttpRequest();
  const fileUpload = (id) => {
      const url = "/user/mypage/update/profile_img/" + id;
      requestUpload.open("POST", url, true)
      requestUpload.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
      );
      requestUpload.send(JSON.stringify({id: id}));
  };

  requestUpload.onreadystatechange = () => {
    if (requestUpload.readyState === XMLHttpRequest.DONE) {
      if (requestUpload.status < 400) {
        const { id } = JSON.parse(requestUpload.response);
        const fileName = document.getElementById(`file`);
        const fReader = new FileReader();
        fReader.readAsDataURL(fileName.files[0]);
        fReader.onloadend = function(event){
            const img = document.getElementById(`pro_img`);
            img.src = event.target.result;
        }
      };
    };
  };
</script>

{% endblock %}