{% extends 'main/base.html' %}
{% load static %}
{% block content %}
  <div class="nopost">
  <img src="{% static 'img/clothes.png' %}" alt="" class="img-fluid">
  <div class="postex">
      <span class="post_text">아직 옷장에 등록된 옷이 없어요!</span> <br>
      <span class="post_text">당신만의 멋진 착장을 등록해주세요!</span> <br>
      <button class="startbtn"> 시작하기 </button>
  </div>
  </div>
  <br>
  <div class="main_menu">
    <div class="week">Weekly</div>
    <a href="main3.html"><div class="hot2">Hot</div></a>
    <a href="main4.html"><div class="best2">Best</div></a>
  </div>
<div class="vote">
  <span class="vote_text">착장 더 보러가기</span>
  <button class="votebtn"> 여기를 누르세요! </button>
</div>
{% endblock %}