{% extends 'main/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/ourcloset_post_react.css' %}">
<link rel="stylesheet" href="{% static 'css/closet.css' %}">
<title>구매링크</title>
{% endblock %}
{% block content %}
<div class="buylink_container">
  <div class="fs-3 my-2 buylink_title">
    <div class="mx-2">구매링크</div>
    <div class="help-tip">
      <p>오늘뭐입지는 2가지의 방법으로 구매링크를 제공합니다.
        <br>
        <br>1) 빠른 검색을 통하면 5~10초 내로 새 창에서 검색 결과를 보여주지만, 브랜드가 명확한 상품 외에는 정확도가 떨어질 수 있습니다.
        <br>
        <br>2) 정확한 검색을 통하면 해당 기기의 사양과 인터넷 상태에 따라 약 60초 내외로 구매 링크를 제공하지만, 실제 구글 이미지 검색을 이용하기 때문에 매우 정확합니다.
        <br>
      </p>
    </div>
  </div>
  {% if cloth.rem_img %}
  <img src="{{cloth.rem_img.url}}">
  {% else %}
  <img src="{{cloth.img.url}}">
  {% endif %}
  <form action="{% url 'closet:buylink' cloth.id %}" id="searchForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="button" class="my-2 btn btn-secondary" id="fastSearchBtn" style="width:100%" value="빠른 검색" name="fast" />
    <!-- <input type="hidden" class="my-2 btn btn-secondary" id="fastSearchBtn" style="width:100%" value="빠른 검색" name="fast" /> -->
    <button class="my-2 btn btn-secondary" id="fastSearchLoadingBar" style="width:100%" type="button" disabled>
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      빠른 검색중입니다. 잠시만 기다려주세요 ...
    </button>
    <input type="button" class="my-2 btn btn-secondary" id="exactSearchBtn" style="width:100%" value="정확한 검색" name="exact" />
    <!-- <input type="hidden" class="my-2 btn btn-secondary" id="exactSearchBtn" style="width:100%" value="정확한 검색" name="exact" /> -->
    <button class="my-2 btn btn-secondary" id="exactSearchLoadingBar" style="width:100%" type="button" disabled>
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      정확한 검색중입니다. 잠시만 기다려주세요 ...
    </button>
    {% if fastflag %}
      <a class="btn btn-primary" id="new_url" style="width:100%" href="{{link}}" target="_blank" clicked>다시 열기</a>
    {% endif %}
    {% if exactflag %}
      <div class="exact_search_container">
        {% for cost, url, src in search_informations_list %}
        <div class="exact_search_result">
          <img src="{{ src }}" style="width:200px; height:200px;" alt="">
          <div>{{ cost }}</div>
          <a href="{{ url }}" target="_blank">구매링크</a>
        </div>
        {% endfor %}
      </div>
    {% endif %}
  </form>
  <br>
</div>
<script>
  const fastSearchBtn = document.querySelector('#fastSearchBtn')
  const exactSearchBtn = document.querySelector('#exactSearchBtn')
  const exactSearchLoadingBar = document.querySelector('#exactSearchLoadingBar')

  if (document.querySelector(`#new_url`) !== null ) {
    document.getElementById('new_url').click();
  }

  document.addEventListener("DOMContentLoaded", (e) => {
    fastSearchBtn.style.display = 'block'
    exactSearchBtn.style.display = 'block'
    fastSearchLoadingBar.style.display = 'none'
    exactSearchLoadingBar.style.display = 'none'
  });

  fastSearchBtn.addEventListener('click', (event) => {
    event.preventDefault()
    fastSearchBtn.type = "hidden";
    document.getElementById('searchForm').submit();
    fastSearchBtn.style.display = 'none'
    fastSearchLoadingBar.style.display = 'block'
  })

  exactSearchBtn.addEventListener('click', (event) => {
    event.preventDefault()
    exactSearchBtn.type = "hidden";
    document.getElementById('searchForm').submit();
    exactSearchBtn.style.display = 'none'
    exactSearchLoadingBar.style.display = 'block'
  })
</script>
{% endblock %}
