{% extends 'closet/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/closet.css' %}">
{% endblock %}
{% block content %}
<div class="my-1 text-center fs-5">나만의 옷장</div>
<hr/>
<ul class="my-0 px-0 mx-3 d-flex justify-content-around">
  <li><a href="" class="small_menu text-black fs-5">아우터</a></li>
  <li><a href="" class="small_menu text-black fs-5">상의</a></li>
  <li><a href="" class="small_menu text-black fs-5">하의</a></li>
  <li><a href="" class="small_menu text-black fs-5">신발</a></li>
  <li><a href="" class="small_menu text-black fs-5">액세서리</a></li>
</ul>
<hr/>
<div class="my-3 mx-2 img_container">
  <img src="{% static 'img/1.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
  <img src="{% static 'img/2.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
  <img src="{% static 'img/3.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
  <img src="{% static 'img/4.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
  <img src="{% static 'img/5.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
  <img src="{% static 'img/6.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
  <img src="{% static 'img/7.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
</div>
{% endblock %}