{% extends 'main/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/closet.css' %}">
{% endblock %}
{% block content %}
<br />
<!--아코디언-->
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        <div class="accmain">
          Clothes
        </div>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
      <p>
        <div class="accmain2">
          <a href="{% url 'closet:closet_main' %}">All</a>
          <a href="{% url 'closet:outer_list' %}">Outer</a>
          <a href="{% url 'closet:top_list' %}"> Top </a> 
        </br>
          <a href="{% url 'closet:bottom_list' %}">Bottom</a>
          <a href="{% url 'closet:shoes_list' %}">Shoes</a>
          <a href="{% url 'closet:acc_list' %}">Accessory</a>
        </div>
      </p>
      <hr>
      <div class="accmain3">
        <a href="{% url 'closet:clothes_create' %}">
          <img class="closet_icon" src="/static/img/plus.png">
        </a>
        <a href= "{% url 'closet:clothes_like_list' %}">
          <img class="closet_icon" src="/static/img/heart.png">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2"
        aria-expanded="true" aria-controls="collapseOne">
        <div class="accmain1">Cody</div>
      </button>
    </h2>
    <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne">
      <p>
        <div class="accmain2">
          <div class="acccody">
            <a href="{% url 'closet:closet_all' %}">
              <span>My Cody</span>
            </a>
            <a href="{% url 'closet:post_like_list' %}">
              <span>My List</span>
            </a>
          </div>
        </div>
      </p>
    </div>
  </div>
</div>
<!--아코디언 끝-->
{% if clothes_list %}
  <div class="mycloset_list">
    {% for clothes in clothes_list %}
    <div class="mycloset_img item__container cloth-id-{{clothes.id}}">
      {% if clothes.rem_img %}
      <img src="{{clothes.rem_img.url}}">
      {% else %}
      <img src="{{clothes.img.url}}">
      {% endif %}
      {% comment %} <form action="{% url 'closet:clothes_likes' clothes.pk %}" method='POST' class="mycloset_form">
        {{clothes.title}}
        {% csrf_token %}
        {% if user in clothes.likes.all %}
        <button class="btn btn-link text-danger" id="mycloset_like">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-suit-heart-fill" 
            viewBox="0 0 18 18">
            <path
              d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
          </svg>
        </button>
        {% else %}
        <button class="btn btn-link text-danger" id="mycloset_like">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-suit-heart"
            viewBox="0 0 18 18">
            <path id="mypostlike"
              d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
          </svg>
        </button>
        {% endif %}
      </form>   {% endcomment %}
      {% if user in clothes.likes.all %}
        <div class="post__dislike like_icon_position" onclick="onClickLike({{ clothes.pk }}, 'dislike', '{{clothes.rem_img.url}}')"><i class="fa-solid fa-heart fa-2x" style="color: #cb444a"></i></div>
      {% else %}
        <div class="post__like like_icon_position" onclick="onClickLike({{ clothes.pk }}, 'like', '{{clothes.rem_img.url}}')"><i class="fa-regular fa-heart fa-2x" style="color: #cb444a"></i></div>
      {% endif %}

      {% if buylink_flag %}
        <div><a href="{% url 'closet:buylink' clothes.id %}" class="btn btn-secondary" style="width:100%" value="buylink">구매링크</a></div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endif %}

{% if post_list %}
  <div class="mycloset_list">
    {% for post in post_list %}
    <div class="mycloset_img">
      <a href="{% url 'community:post_detail' post.pk %}">
        <img class="width:200px; height:200px;" src="{{post.main_img.url}}">
      </a>
      {{post.title}}
      {% if post.open %}
        <i class="fa-solid fa-lock-open">전체공개</i>
      {% else %}
        <i class="fa-solid fa-lock">비공개</i>
      {% endif %}

      {% comment %} <form action="{% url 'community:likes' post.pk %}" method='POST' class="mycloset_form">
        {{post.title}}
        {% csrf_token %}
        {% if user in post.likes.all %}
        <button class="btn btn-link text-danger" id="mycloset_like">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-suit-heart-fill" 
            viewBox="0 0 18 18">
            <path
              d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
          </svg>
        </button>
        {% else %}
        <button class="btn btn-link text-danger" id="mycloset_like">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-suit-heart"
            viewBox="0 0 18 18">
            <path id="mypostlike"
              d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
          </svg>
        </button>
        {% endif %}
      </form>   {% endcomment %}
    </div>
    {% endfor %}
  </div>
{% endif %}

<script>
const strip = (string) => {
  return string.replace(/^\s+|\s+$/g, "");
};
const requestLike = new XMLHttpRequest();
const onClickLike = (id, btnType, imgUrl) => {
  const url = "/closet/clothes-likes/" + id;
  requestLike.open("POST", url, true)
  requestLike.setRequestHeader(
    "Content-Type",
    "application/x-www-form-urlencoded"
  );
  requestLike.send(JSON.stringify({id: id, btnType: btnType, imgUrl: imgUrl}));
};

requestLike.onreadystatechange = () => {
    if (requestLike.readyState === XMLHttpRequest.DONE) {
        if (requestLike.status < 400) {
            const { id, btnType, imgUrl } = JSON.parse(requestLike.response);
            const elementLike = document.querySelector(`.cloth-id-${id}`);
            const originHTML = strip(elementLike.innerHTML);
            if (originHTML.includes('fa-solid')) {
              elementLike.innerHTML = `<img src="${imgUrl}" class="post_img1">
              <div class="post__like like_icon_position" onclick="onClickLike(${id}, 'like', '${imgUrl}')"><i class="fa-regular fa-heart fa-2x" style="color: #cb444a"></i></div>`;
              
            } else {
              elementLike.innerHTML = `<img src="${imgUrl}" class="post_img1">
              <div class="post__dislike like_icon_position" onclick="onClickLike(${id}, 'dislike', '${imgUrl}')"><i class="fa-solid fa-heart fa-2x" style="color: #cb444a"></i></div>`;
              
            };
        }
    }
};
</script>
{% endblock %}
