{% extends 'main/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/closet.css' %}">
{% endblock %}
{% block content %}
<br />
<!--아코디언-->
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="accmain">
          Clothes
        </div>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
      <p>
        <div class="accmain2">
        <a href="{% url 'closet:closet_main' %}">All</a>
        <a href="{% url 'closet:outer_list' %}">Outer</a>
        <a href="{% url 'closet:top_list' %}"> Top </a>
        <a href="{% url 'closet:bottom_list' %}">Bottom</a>
        <a href="{% url 'closet:shoes_list' %}">Shoes</a>
        <a href="{% url 'closet:acc_list' %}">Accessory</a>
      </p>  
        <hr>
      </div>
        <div class="accmain3">
          <a href="{% url 'closet:clothes_create' %}">
            <img class="closet_icon" src="/static/img/plus.png">
          </a>
        <img class="closet_icon" src="/static/img/heart.png">
      </div>
      </div>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne">
          <div class="accmain1">Cody</div>
        </button>
      </h2>
      <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne">
        <p>
          <div class="accmain2">
        </p> 
        <div class="acccody">
          <a href="{% url 'closet:closet_all' %}"> 
            <span>My Cody</span>
          </a>
          <a href="{% url 'closet:clothes_create' %}"> 
            <span>My List</span>
          </a>
        </div>
        </div>
        </div>
      </div>
    </div>
<!--아코디언 끝-->

{% for post in post_list %}
  <a href="{% url 'community:post_detail' post.pk %}">
    <img src="{{post.main_img.url}}">
  </a>
  {{post.title}}
  {% if post.open %}
    <i class="fa-solid fa-lock-open">전제공개</i>
  {% else %}
    <i class="fa-solid fa-lock">비공개</i>
  {% endif %}
{% endfor %}
</div>



<!-- <div class="my-3 mx-2 img_container"> -->
  <!-- <img src="{% static 'img/1.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
  <img src="{% static 'img/2.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
  <img src="{% static 'img/3.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
  <img src="{% static 'img/4.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
  <img src="{% static 'img/5.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
  <img src="{% static 'img/6.jpeg' %}" class="img-fluid img-thumbnail clothes" alt="">
  <img src="{% static 'img/7.jpeg' %}" class="img-fluid img-thumbnail clothes" alt=""> -->
<!-- </div> -->
{% endblock %}