{% extends 'main/base.html'%}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <title>new clothes</title>
{% endblock %}
{% block content %}

<div class="clothes_create">
<form action="{% url 'closet:clothes_create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="filebox">
        <label for="file" >당신의 패션 아이템을 올려주세요!</label> 
        <br />
        <br />
        <input type="file" name="image" id="file">
    </div>
    <br />
    <br />
    <p class="clothes_create_p1">Item 이름: <input name="title" /></p>
    <br/>
    <p class="clothes_create_p2">구매 링크: <input name="buying" /></p>
    <div class="clothes_type">
    <input type="radio" name="clothes" value="outer">Outer
    <input type="radio" name="clothes" value="top">Top
    <input type="radio" name="clothes" value="bottom">Bottom
    <input type="radio" name="clothes" value="shoes">Shoes
    <input type="radio" name="clothes" value="acc">Acc
    </div>
    <br />
    {% if error %}
        <p>{{error}}</p>
    {% endif %}
    <button type="submit" class="btn btn-primary float-right" id="subbtn">Submit</button>
</form>
</div>
{% endblock %}