{% extends 'main/base.html'%}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/community.css' %}">
    <title>community</title>
{% endblock %}


{% block content %}

<body>
  <div class="main">
    <div class="title" id="banner">
      <p>모두의 옷장</p>
    </div>
    <hr>
        <div class="ootd">
          <div class="com-title">OOTD</div>
          <div class="">
            <div class="content">
            {%for post in post_list%}
              <div>
                <a href="{% url 'community:post_detail' post.pk%}">
                  <img src="{{post.main_img.url}}">
                </a>
                <p><a href="{% url 'community:post_detail' post.pk%}">{{post.title}}</a></p>
                <div class="postauthor">{{post.author}}</div>
              </div>
            {%endfor%}
          </div>
          </div>
        </div>

</body>
{% endblock %}