{% extends 'main/base.html'%}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/our_closet.css' %}">
    <title>community</title>
{% endblock %}


{% block content %}

<body>
  <div class="main">
    <div class="title" id="banner">
      <p>모두의 옷장</p>
      {% if user.is_authenticated %}
      <a href="{% url 'community:post_create' %}">착장 추가</a>
      {% endif %}
      <select id="sort-select" onchange="location = this.value;">
        <option class="sort-pk" value="/">--정렬기준--</option>
        <option class="sort-new" value="?sort=new">최신순</option>
        <option class="sort-old" value="?sort=old">오래된순</option>
        <option class="sort-like" value="?sort=like">인기순</option>
      </select>
    </div>
    
    <hr>
        <div class="ootd">
          <div class="">
            <div class="content">
            {%for post in post_list%}
              <div class="post_info">
                <a href="{% url 'community:post_detail' post.pk%}">
                  <img src="{{post.main_img.url}}">
                </a>
                <p><a href="{% url 'community:post_detail' post.pk %}">{{post.title}}</a></p>
                <div class="postauthor">{{post.author}}</div>
              </div>
            {% endfor %}
          </div>
          </div>
        </div>

</body>
{% endblock %}