@media all and (max-width: 767px){
    .exact_search_container {gap: 3rem;}
    
    .exact_search_result > img{width: 130px; height: 140px;}

}
@media screen and (min-width: 768px) and (max-width:1024px){
    .exact_search_container {gap: 2.5rem;}
    
    .exact_search_result > img{width: 130px; height: 140px;}

    .buylink_container > form {width: 75% !important;}
}


