@media all and (max-width: 767px){
    .mycloset_list{
        gap: 1.3rem;
    }
    .fa-2x {
        font-size: 1.3em;
    }
    #closet_all_img{
        width: 90px;
    }
    .mycloset_img{
        width: 6.25rem;
    }
    .closet_post_title {
        width: 95px;
    }
    #status_all {
        font-size: 11px;
        margin: auto;
        display: table;
    }
    .mycloset_img > p{
        margin-bottom: 0.2rem;
    }
    #post_status{
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    .mycloset_list{
        gap: 4rem;
    }
}


