@media screen and (max-width: 375px){
    .post_all{
        font-size: 1.5rem !important;
    }
    .new_post > a{
        font-size: 0.8rem;
    }
    .com_list{
        width: 375px;
        padding-top: 10px;
        gap: 2rem;
    }
    .com_list > a{
        margin-bottom: 10px;
    }
}


