.nolog{
  text-align: center;
}

.info{
  display: flex;
  flex-direction: column;
  border-right: 1px solid #DADBDB;
  height: 100%;
}

.name{
  display: flex;
  align-items: center;
}

.nobtn{
  margin-top: 0.6rem;
}

.main{
  display: flex;
  flex-direction: row;
}

.right {
  border-right: 1px solid #DADBDB;
  height: 100%;
  padding-bottom: 4rem;
}
  
.con {
  border-color: #DADBDB;
  padding: 8px;
  margin-top: 2rem;
  margin-bottom: 2rem; 
  border-radius: 10px;
}

.con > div{
  justify-content: space-around;
  display: flex;
}

.cre_btn{
  display: inline;
  justify-content: center;
}

.post_count{
  margin-left: 1.4rem;
}

.comment_count{
  margin-left: 0.4rem;
}

#user-img {
  width: 100px;
  height: 100px;
}
  
.menu {
  padding-bottom: 4rem; 
}
  
.menu div {
  margin-left: 0.5rem;
  margin-top: 1rem;
}
  
.menu hr {
  width: 200px;
}
  
.ootd {
  padding-right: 20px;
}
  
.com-title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;
  margin-left: 20px;
}
  
.content img {
  border-radius: 15px;
  width: 250px;
  height: 250px;
  opacity: 1;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.content img:hover{
  -webkit-transform: scale(1.08);
	transform: scale(1.08);
  opacity: .75;
}
  
.content{
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 50px;
    text-align:start;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

p{
    margin-bottom: 0 !important;
    margin-top: 1rem !important;
    text-align: left;
}

.content div{
    margin-left: 0;
}

.com-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    margin-left: 20px;
  }

textarea{
  resize: none;
}

.post_all{
  font-size: x-large;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post-box{
  margin-top: 1rem;
}