@media screen and (max-width: 375px){
    .post_all{
        font-size: 1.5rem !important;
    }
    .new_post > a{
        font-size: 0.8rem;
    }
    .com_list {
        width: 374px;
        gap: 0.9rem;
        font-size: 13px;
    }
}


