.clothes_create{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 50px;
    text-align: center;
}

.clothes_create_p1{
    margin-right: 71px;
}

.clothes_create_p2{
    margin-right: 65px;
}

.filebox > label{
    font-size: 18px;
}

.filebox > input{
    margin-left: 124px;
    opacity: 0;
    display: none;
}

.clothbox > label{
    font-size: 18px;
}

.clothbox > input{
    opacity: 0;
    display: none;
}

#clothUploadBtn {
    margin: auto;
    display: block;
}

.clothes_type > input{
    margin-left: 10px;
    margin-right: 5px;
}

.our_closet_create{
    text-align: center;
}
.opc_title{
    margin-right: 42px;
}
.opc_img{
    margin-left: 73px;
}
.opc_privstat{
    font-size: 15px;
}
.opc_privstat > input{
    margin-left: 5px;
    margin-right: 5px;
}
.opc_submit{
    margin-top: 20px;
    margin-bottom: 50px;
}
.clothes_list_box {
    overflow-x :auto;
    width: 80vw;
    display: flex;
}

.clothes_list_box img {
    height: 10rem;
    width: 8rem;
}

.id_img{
    margin-left: 147px;
}

.com_create > p{
    margin-top: 45px;
}
#id_content{
    resize: none;
}

#look{
    display: none;
}

.look_create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.look_create_form, .lookbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lookbox > label{
    font-size: 18px;
}

.lookbox > input{
    opacity: 0;
    display: none;
}

.nocloth{
    display: flex;
    justify-content: center;
    width: 100%;
}

.lookopen{
    font-size: 0.8rem;
    color: gray;
}