label{
    padding-left: 36.25rem;
    padding-right: 0.938rem;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

#subbtn{
    margin-left: 42.813rem;
    margin-bottom: 1.875rem;
}

#id_clothes{
    width: 10.313rem;
}
