@media all and (max-width: 767px){
    #main_icon{
        width: 6.625rem;
        height: 10rem;
    }
    .nopost{
        height: 80vh;
    }
    .postex {
        padding-top: 6.25rem;
        padding-left: 1rem;
        font-size: 0.7rem;
    }
    .main2_container{
        height: 80vh;
    }
    .main2{
        font-size: 11px;
    }
    .main2_img{
        gap: 1rem;
    }
    #main2_before_rbg {
        width: 7rem;
        height: 10rem;
    }
    #main2_arrow {
        width: 5rem;
        height: 5rem;
        top: 130px;
    }
    #main2_after_rbg {
        width: 8rem;
        height: 10rem;
    }
    .morebtn2{
        font-size: 0.7rem;
    }
    .main3_container{
        height: 80vh;
    }
    .main3{
        font-size: 11px;
    }
    .main3_img{
        width: 15rem;
    }
    .morebtn3{
        font-size: 0.7rem;
    }
    .main4_container{
        height: 80vh;
    }
    .main4{
        font-size: 11px;
    }
    .main4_img{
        width: 15rem;
    }
    .morebtn4{
        font-size: 0.7rem;
    }
    .main5_container{
        height: 80vh;
    }
    .main5{
        font-size: 11px;
    }
    .main5_img{
        width: 15rem;
    }
    .morebtn5{
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
}


