@import "reset.css";

:root {
  --background: #6496ff;
  --white: white;
  --gray: gray;
  --main-border: 1px solid var(—gray1);
}

nav {
  background-color: var(--white);
}

footer {
  background-color: var(--white);
}

.title {
  color: black;
  font-size: 1.375rem;
  text-decoration: none;
}

@media screen and (max-width: 768px){
  .title {
    font-size: 1rem;
  }
}

.right-nav{
  float: right;
}

.form-control {
  margin-right: 1rem;
}

.scb {
  font-size: 1.2rem;
}

.small_menu:hover {
  color: var(--gray) !important;
}

#mini-menu{
  font-size: 0.875rem;
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1500; 
  top: 0; 
  left: 0;
  background-color: #fff; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #111;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #818181;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

#backdiv{
  background: #000;
  opacity: .6;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 992px) {
  .dn {display: none;}
}