.nopost{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#main_icon{
    width: 6.625rem;
    padding-top: 3.125rem;
    height: 10rem;
}

@media screen and (max-width: 375px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 20vw !important;
        height: 7vw !important;
        margin-left: -0.3rem !important;
        font-size: 0.9rem;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1.2rem !important;
    }

    .week{
        width: 5.313rem !important;
    }

    .hot2{
        width: 5.313rem !important;
    }

    .best2{
        width: 5.313rem !important;
    }
}

@media screen and (max-width: 412px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 20vw !important;
        height: 7vw !important;
        margin-left: -0.3rem !important;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1.2rem !important;
    }

    .week{
        width: 5.313rem !important;
    }

    .hot2{
        width: 5.313rem !important;
    }

    .best2{
        width: 5.313rem !important;
    }
}

@media screen and (max-width: 280px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 2rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 3rem !important;
      margin-top: 2rem;
    }

    .startbtn{
        width: 23vw !important;
        height: 17vw !important;
        margin-left: -0.3rem !important;
        font-size: 0.7rem;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.7rem !important;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 0.9rem !important;
    }

    .week{
        width: 4rem !important;
    }

    .hot2{
        width: 4rem !important;
    }

    .best2{
        width: 4rem !important;
    }
}

@media screen and (max-width: 414px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 20vw !important;
        height: 7vw !important;
        margin-left: -0.3rem !important;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1.2rem !important;
    }

    .week{
        width: 5.313rem !important;
    }

    .hot2{
        width: 5.313rem !important;
    }

    .best2{
        width: 5.313rem !important;
    }
}

@media screen and (max-width: 540px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 18vw !important;
        height: 7vw !important;
        margin-left: -0.3rem !important;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1.2rem !important;
    }

    .week{
        width: 5.313rem !important;
    }

    .hot2{
        width: 5.313rem !important;
    }

    .best2{
        width: 5.313rem !important;
    }
}

@media screen and (max-width: 414px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 20vw !important;
        height: 7vw !important;
        margin-left: -0.3rem !important;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1.2rem !important;
    }

    .week{
        width: 5.313rem !important;
    }

    .hot2{
        width: 5.313rem !important;
    }

    .best2{
        width: 5.313rem !important;
    }
}

@media screen and (max-width: 390px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 18vw !important;
        height: 7vw !important;
        margin-left: -0.3rem !important;
        font-size: 0.9rem;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1.2rem !important;
    }

    .week{
        width: 5.313rem !important;
    }

    .hot2{
        width: 5.313rem !important;
    }

    .best2{
        width: 5.313rem !important;
    }
}


@media screen and (max-width: 360px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 25vw !important;
        height: 8vw !important;
        margin-left: -0.3rem !important;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1rem !important;
    }

    .week{
        width: 4.5rem !important;
    }

    .hot2{
        width: 4.5rem !important;
    }

    .best2{
        width: 4.5rem !important;
    }
}





:root {
    --font-size-lg: 5vw;
    --font-size-md: 3.7vw;
    --font-size-sm: 3vw;
  }

@media (max-width: 48rem) {
    .post_text{
        font-size: var(--font-size-sm);
    }

    .vote_text{
        font-size: var(--font-size-md); 
    }

}
  

.postex{
    padding-top: 6.25rem;
    padding-left: 3.2rem;
    font-size: 1rem;
}

.startbtn{
    background-color: white;
    border: 1px solid black;
    border-radius: 0.625rem;
    margin-top: 1.25rem;
    margin-left: 4.375rem;
    transition: all 0.5s;
}

.startbtn:hover{
    background-color:#4169E1;
    color:white;
}

.best{
    text-align: center;
    font-size: 1.875rem;
    padding-top: 12.5rem;
}

.best > p{
    font-size: 1.063rem;
}

.model{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.model > img{
    transition: all 0.2s linear;
}

.model1{
    width: 18.75rem;
    border-radius: 1.25rem;
}

.model > p{
    text-align: center ;
}

.model2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.model1{
    width: 18.75rem;
    border-radius: 1.25rem;
}

.model2 > p{
    text-align: center ;
}

.vote{
    padding-top: 6.25rem;
    font-size: 1.25rem;
    text-align: center;
}

.hot{
        text-align: center;
        font-size: 1.875rem;
        padding-top: 12.5rem;
}

.hot > p{
    font-size: 1.063rem;
}

.vote{
    padding-bottom: 31.25rem;
}

.votebtn{
    margin-left: 1.625rem;
    background-color: white;
    border-radius: 0.625rem;
    transition: 0.2s;
}

.votebtn:hover{
    background-color: #4169E1;
    color: white;
}

.main_menu{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.563rem;
    padding-right: 0.75rem;

}

.content {
    text-align: center;
  }
  
.main_menu > a{
    text-decoration: none;
}

.week{
    border-bottom: 1px solid black;
    width: 12.5rem;
}

.hot2{
    border-bottom: 1px solid black;
    width: 12.5rem;
    color: gray;
    text-decoration: none;
    transition: all 0.5s;
}

.hot2:hover{
    color: black;
}

.best2{
    border-bottom: 1px solid black;
    width: 12.5rem;
    color:gray;
    transition: all 0.5s;
}

.best2:hover{
    color: black;
}