@import "reset.css";

:root {
  --background: #6496ff;
  --white: white;
  --gray: gray;
  --main-border: 1px solid var(—gray1);
}

nav {
  background-color: var(--white);
}

footer {
  background-color: var(--white);
}

.title {
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

.form-control {
  margin-right: 1rem;
}

.scb {
  font-size: 1.2rem;
}

.small_menu:hover {
  color: var(--gray) !important;
}

#mini-menu{
  font-size: 0.875rem;
}