@media screen and (max-width: 375px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 20vw !important;
        height: 7vw !important;
        margin-left: -0.3rem !important;
        font-size: 0.9rem;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1.2rem !important;
    }

    .week{
        width: 5.313rem !important;
    }

    .hot2{
        width: 5.313rem !important;
    }

    .best2{
        width: 5.313rem !important;
    }
}

@media screen and (max-width: 412px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 20vw !important;
        height: 7vw !important;
        margin-left: -0.3rem !important;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1.2rem !important;
    }

    .week{
        width: 5.313rem !important;
    }

    .hot2{
        width: 5.313rem !important;
    }

    .best2{
        width: 5.313rem !important;
    }
}

@media screen and (max-width: 280px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 2rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 3rem !important;
      margin-top: 2rem;
    }

    .startbtn{
        width: 23vw !important;
        height: 17vw !important;
        margin-left: -0.3rem !important;
        font-size: 0.7rem;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.7rem !important;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 0.9rem !important;
    }

    .week{
        width: 4rem !important;
    }

    .hot2{
        width: 4rem !important;
    }

    .best2{
        width: 4rem !important;
    }
}

@media screen and (max-width: 414px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 20vw !important;
        height: 7vw !important;
        margin-left: -0.3rem !important;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1.2rem !important;
    }

    .week{
        width: 5.313rem !important;
    }

    .hot2{
        width: 5.313rem !important;
    }

    .best2{
        width: 5.313rem !important;
    }
}

@media screen and (max-width: 540px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 18vw !important;
        height: 7vw !important;
        margin-left: -0.3rem !important;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1.2rem !important;
    }

    .week{
        width: 5.313rem !important;
    }

    .hot2{
        width: 5.313rem !important;
    }

    .best2{
        width: 5.313rem !important;
    }
}

@media screen and (max-width: 414px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 20vw !important;
        height: 7vw !important;
        margin-left: -0.3rem !important;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1.2rem !important;
    }

    .week{
        width: 5.313rem !important;
    }

    .hot2{
        width: 5.313rem !important;
    }

    .best2{
        width: 5.313rem !important;
    }
}

@media screen and (max-width: 390px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 18vw !important;
        height: 7vw !important;
        margin-left: -0.3rem !important;
        font-size: 0.9rem;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1.2rem !important;
    }

    .week{
        width: 5.313rem !important;
    }

    .hot2{
        width: 5.313rem !important;
    }

    .best2{
        width: 5.313rem !important;
    }
}


@media screen and (max-width: 360px){
    .nopost{ 
        max-width: 47.5rem; 
    }

    .postex{
        padding-top: 2.25rem !important;
        padding-left: 3.5rem !important;
    }

    #main_icon{
      width: 18vw !important;
      height: 18vw !important;
      padding-top: 0 !important;
      margin-left: 2rem !important;
      margin-top: 1rem;
    }

    .startbtn{
        width: 25vw !important;
        height: 8vw !important;
        margin-left: -0.3rem !important;
    }

    .votebtn{
        width: 33vw !important;
        height: 8.5vw !important;
        font-size: 0.938rem;
    }

    .main_menu{
        margin-left: 0.75rem !important;
        font-size: 1rem !important;
    }

    .week{
        width: 4.5rem !important;
    }

    .hot2{
        width: 4.5rem !important;
    }

    .best2{
        width: 4.5rem !important;
    }
}





:root {
    --font-size-lg: 5vw;
    --font-size-md: 3.7vw;
    --font-size-sm: 3vw;
  }

@media (max-width: 48rem) {
    .post_text{
        font-size: var(--font-size-sm);
    }

    .vote_text{
        font-size: var(--font-size-md); 
    }

}
  

