.nopost{
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#main_icon{
    width: 6.625rem;
    padding-top: 3.125rem;
    height: 10rem;
}

.postex{
    padding-top: 6.25rem;
    padding-left: 3.2rem;
    font-size: 1rem;
}

.startbtn{
    background-color: white;
    border: 1px solid black;
    border-radius: 0.625rem;
    margin-top: 1.25rem;
    margin-left: 4.375rem;
    transition: all 0.5s;
}

.startbtn:hover{
    background-color:#4169E1;
    color:white;
}

.best{
    text-align: center;
    font-size: 1.875rem;
    padding-top: 12.5rem;
}

.best > p{
    font-size: 1.063rem;
}

.model{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.model > img{
    transition: all 0.2s linear;
}

.model1{
    width: 18.75rem;
    border-radius: 1.25rem;
}

.model > p{
    text-align: center ;
}

.model2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.model1{
    width: 18.75rem;
    border-radius: 1.25rem;
}

.model2 > p{
    text-align: center ;
}

.vote{
    padding-top: 6.25rem;
    font-size: 1.25rem;
    text-align: center;
}

.hot{
        text-align: center;
        font-size: 1.875rem;
        padding-top: 12.5rem;
}

.hot > p{
    font-size: 1.063rem;
}

.vote{
    padding-bottom: 31.25rem;
}

.votebtn{
    margin-left: 1.625rem;
    background-color: white;
    border-radius: 0.625rem;
    transition: 0.2s;
}

.votebtn:hover{
    background-color: #4169E1;
    color: white;
}

.main_menu{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.563rem;
    padding-right: 0.75rem;

}

.content {
    text-align: center;
  }
  
.main_menu > a{
    text-decoration: none;
}

.week{
    border-bottom: 1px solid black;
    width: 12.5rem;
}

.hot2{
    border-bottom: 1px solid black;
    width: 12.5rem;
    color: gray;
    text-decoration: none;
    transition: all 0.5s;
}

.hot2:hover{
    color: black;
}

.best2{
    border-bottom: 1px solid black;
    width: 12.5rem;
    color:gray;
    transition: all 0.5s;
}

.best2:hover{
    color: black;
}

.error-color {
    color: red;
}