@media screen and (max-width: 375px){
    #banner{
        margin-bottom: 35px !important;
    }
    .ourcloset_title{
        padding-left: 1.6rem !important;
    }
    .ourcloset_title > p{
        font-size: 1.5rem !important;
    }
    .ourcloset_newpost1{
        font-size: 0.8rem;
    }
    .ourcloset_newpost2{
        font-size: 0.8rem;
    }
    .ourcloset_title > h5{
        font-size: 0.688rem;
        margin-left: 0.125rem !important;
    }
    .content{
        display: inline-flex !important;
        flex-wrap: wrap !important;
        gap: 1.8rem;
        padding-left: 1.5rem !important;
    }
    .content img{
        width: 90px !important;
        height: 95px !important;
    }
    .post_info > p{
        font-size: 10px;
    }
    .postauthor{
        font-size: 12px;
    }
}


