@media all and (max-width: 768px){
    .content{
        gap: 1.6rem;
    }
    .content img{
        width: 6rem;
        height: 6rem;
    }
}
@media screen and (min-width: 768px){
    .content{
        gap: 4rem;
    }
    .content img{
        width: 12rem;
        height: 12rem;
    }
    .ourcloset_title {
        padding-left: 1.5rem;
    }
}

@media screen and (max-width: 280px){
    #banner{
        margin-bottom: 0px;
    }
    .content{
        gap: 1rem;
    }
    .content img{
        width: 4rem;
        height: 4rem;
    }
    .ourcloset_title {
        padding-left: 1.5rem;
    }
    .ourcloset_title > p {
        margin-top: 2rem !important;
        text-align: left;
        font-size: 20px;
    }
    .ourcloset_newpost1 {
        font-size: 14px;
        margin-right: 20px;
        margin-top: 6px;
    }
    .ourcloset_newpost2 {
        float: right;
        font-size: 13px;
        margin-right: 8px;
        margin-top: 6px;
    }
    .ourcloset_title > h5 {
        text-align: left;
        font-size: 12px;
        margin-left: 3px;
    }    
    .post_info > p{
        font-size: 13px;
    }
}

@media all and (min-width: 1024px){
    .content{
        gap: 8rem;
    }
    .content img{
        width: 12rem;
        height: 12rem;
    }
    .ourcloset_title {
        padding-left: 1.5rem;
    }
}
