@media screen and (max-width: 576px) {
    .postimgs > img {max-width: 80%; height: auto;}

    .post_title {padding-top: 1rem; padding-bottom: 1rem; padding-left: 1.5rem; padding-right: 1.5rem; font-size: 1.3rem;}

    #post_detail_heart{
        width: 1.188rem;
        height: 1.563rem;
    }

    .post_author {padding-left: 1.5rem;}

    .post_time {padding-left: 1.5rem; margin-bottom: 1rem;}

    .post_content {padding-left: 1.5rem;}

    #post_detail_login{width: 50%;}
    
}

@media all and (max-width: 767px){
    .post_title {padding-top: 1rem; padding-bottom: 1rem; padding-left: 1.5rem; padding-right: 1.5rem;}

    .post_author {padding-left: 1.5rem;}

    .postimgs > img {max-width: 80%; height: auto;}
    
    .cody_title {
        font-size: 0.875rem;
    }
    .cody_detail > * > img {
        width: 8.125rem;
    }
    .cody_detail{
        gap: 4rem;
    }
    .postbtn{
        margin-left: 0px;
        margin-right: 0px;
    }
    .comment-sum{
        margin-left: 0px;
    }
    .del_list > hr {
        width: 18.75rem;
        margin: 0px auto;
    }
    .content_other{
        width: 12.5rem;
    }
    .user_comment > p{
        margin-right: 3.125rem;
    }
    #comment-con{
        margin-left: 1.5rem;
        margin-right: 0;
        margin-bottom: 3.125rem;
    }
    .delbtn2{
        margin-left: 1.875rem;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    .delbtn2{
        margin-left: 2.813rem;
    }
    .comment-input{
        width: 31.25rem;
    }
    .post_title{
        padding-left: 2.25rem;
        padding-right: 8.75rem;
    }
    .post_author{
        padding-left: 2.563rem;
    }
    .user_comment > p{
        margin-right: 3.125rem;
    }
}


