/* @media all and (min-width: 1024px){
    .post_title {
        font-size: 2rem;
        padding-left: 4.25rem;
        padding-top: 1.5rem;
        padding-right: 700px;
    }
    .post_author {
        font-size: 1.5rem;
        padding-left: 4.4rem;
    }
}
*/

@media screen and (max-width: 576px) {
    .postimgs > img {max-width: 80%; height: auto;}

    .post_title {padding-top: 1rem; padding-bottom: 1rem; padding-left: 1.5rem; padding-right: 1.5rem;}

    .post_author {padding-left: 1.5rem;}

    .post_time {padding-left: 1.5rem; margin-bottom: 1rem;}

    .post_content {padding-left: 1.5rem;}
}

@media all and (max-width: 767px){
    .post_title {padding-top: 1rem; padding-bottom: 1rem; padding-left: 1.5rem; padding-right: 1.5rem;}

    .post_author {padding-left: 1.5rem;}

    .postimgs > img {max-width: 80%; height: auto;}
    
    .cody_title {
        font-size: 14px;
    }
    .cody_detail > * > img {
        width: 130px;
    }
    .cody_detail{
        gap: 4rem;
    }
    .postbtn{
        margin-left: 0px;
        margin-right: 0px;
    }
    .comment-sum{
        margin-left: 0px;
    }
    .del_list > hr {
        width: 300px;
        margin: 0px auto;
    }
    .content_other{
        width: 200px;
    }
    .user_comment > p{
        margin-right: 50px;
    }
    #comment-con{
        margin-left: 1.5rem;
        margin-right: 0;
        margin-bottom: 3.125rem;
    }
    .delbtn2{
        margin-left: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    .delbtn2{
        margin-left: 45px;
    }
    .comment-input{
        width: 500px;
    }
    .post_title{
        padding-left: 2.25rem;
        padding-right: 140px;
    }
    .post_author{
        padding-left: 2.563rem;
    }
    .user_comment > p{
        margin-right: 50px;
    }
}


