/* @media all and (min-width: 1024px){
    .post_title {
        font-size: 2rem;
        padding-left: 4.25rem;
        padding-top: 1.5rem;
        padding-right: 700px;
    }
    .post_author {
        font-size: 1.5rem;
        padding-left: 4.4rem;
    }
}
*/

@media all and (max-width: 767px){
    .post_title {
        font-size: 1rem;
        padding-left: 1.25rem;
        padding-top: 1.5rem;
        padding-right: 6rem;
    }
    .post_author {
        font-size: 1rem;
        padding-left: 1.4rem;
    }
    .postimgs > img {
        height: 15rem;
        width: 15rem;
    }
    .cody_title {
        font-size: 14px;
    }
    .cody_detail > * > img {
        width: 130px;
    }
    .cody_detail{
        gap: 4rem;
    }
    .comment-input{
        margin:auto;
        width: 180px;
        justify-content: none !important;
    }
    .postbtn{
        margin-left: 0px;
        margin-right: 0px;
    }
    .comment-sum{
        margin-left: 0px;
    }
    .del_list > hr {
        width: 300px;
        margin: 0px auto;
    }
    .content_other{
        width: 200px;
    }
    .user_comment > p{
        margin-right: 50px;
    }
    #comment-con{
        margin-right: 0px;
        margin-left: 42px;
    }
    .delbtn2{
        margin-left: 30px;
    }
    .comment-btn{
        padding-right: 0px !important;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    .delbtn2{
        margin-left: 45px;
    }
    .comment-input{
        width: 500px;
    }
    .post_title{
        padding-left: 2.25rem;
        padding-right: 140px;
    }
    .post_author{
        padding-left: 2.563rem;
    }
    .user_comment > p{
        margin-right: 50px;
    }
}


