.post_category{
    font-size: 2.5rem;
    padding-left: 6.25rem;
    padding-top: 2.5rem;
    padding-right: 6.25rem;
}

.post_title{
    font-size: 2rem;
    padding-left: 6.25rem;
    padding-top: 2.5rem;
    padding-right: 6.25rem;
}

.post_img{
    margin: auto;
    display: block;
    width: 25.75rem;
    border-radius: 0.625rem;
    margin-bottom: 2.5rem;
    margin-top: 1.25rem;
}

.cody_img{
    margin: auto;
    display: block;
    width: 18.75rem;
    border-radius: 0.625rem;
    margin-top: 1.25rem;
}

.postimgs > img{
    max-width: 50%;
    height: auto;
    display: block;
    border-radius: 0.938rem;
    margin: auto;
    margin-bottom: 6rem;
}

.cody_list{
    font-size: 1.25rem;
    text-align: center;
}

.clothes_list{
    font-size: 1.25rem;
    text-align: center;
}

.post_author{
    font-size: 1.25rem;
    padding-left: 6.563rem;
}


.post_time{
    color:#b4b4b4;
    font-size: 1.063rem;
    padding-left: 6.563rem;
}

.post_content{
    margin-top: 4rem; 
    font-size: 1.5rem;
    padding-left: 6.563rem;
    padding-right: 6.563rem;
    padding-bottom: 2rem;
}

.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: right;
    padding-right: 1.5rem;
}

.button-box > button {
    background-color: white;
    border: 2px solid black;
    border-radius: 0.625rem;
    font-size: 0.938rem;
    height: 1.75rem;
    margin-top: 0.188rem;
    transition: 0.2s;
}

.button-box > button:hover{
    background-color: #E0E0E0;
}


.delbtn{
    color: black !important;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.625rem;
    font-size: 0.938rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-top: 0.125rem;
    transition: 0.2s;
}

.delbtn:hover{
    background-color: #E0E0E0;
}
.postbtn{
background-color: white;
border: 2px solid black;
border-radius: 0.625rem;
font-size: 0.938rem;
margin-left: 0.625rem;
margin-right: 0.625rem;
margin-top: 0.125rem;
transition: 0.2s;
}

.postbtn:hover{
    background-color: #E0E0E0;
}


.delbtn2{
    background-color: white;
    border: 2px solid black;
    border-radius: 0.4rem;
    font-size: 0.688rem;
    width: 2.25rem;
    height: 1.375rem;
    transition: 0.2s;
}

.delbtn2:hover{
    background-color: #E0E0E0;
}

.del_list{
    margin-left:auto;
}

/*.del_list > hr{
    width: 840px;
}*/


.comment-list{
    margin-bottom: 5rem;
}


#comment-con{
    margin-left: 5.9rem;
    margin-right: 4.3rem;
    margin-bottom: 3.125rem;
}

.comment-input{
    width: 100%;
    border: 2px solid black;
    border-radius: 0.625rem;
    transition: 0.2s;
    resize: none;
}


.comment-sum > hr{
    width: 64.125rem;
}

.comment_author{
    font-size:1.25rem;
}

.d-flex > hr{
    width: 51.875rem !important;
}

#like {
    padding-left: 3.125rem !important;
    padding-right: 2.813rem;
}
#user_comment_list{
    padding-top: 2.188rem;
    padding-bottom: 0.125rem !important;
}

.comment_author_other{
    font-size: 1.25rem;
}

form svg{
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 12.875rem;
}

#listbtn{
    margin-top: 0.063rem;
    height: 1.875rem;
    transition: 0.2s;
}

#listbtn:hover{
    background-color: #E0E0E0;
    color: white;
}


.cody_detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
    margin-bottom: 8.125rem;
}

.cody_detail > * > img{
    width: 12.5rem;
}

.cody_title{
    text-align: center;
    font-size: 1.188rem;
}

.item__container {
    position: relative;
}

.cody_detail > .item__container > .like_icon_position{
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
}

.user_profile{
    width:2rem; 
    height:2rem; 
    margin-top: 0.5rem; 
}

.cp{
    padding-left: 5.9rem; 
    padding-right: 6.1rem;
}

#com_detail_btn {
    padding-left: 0.188rem; padding-bottom: 0.563rem;
}
