.post_title{
    font-size: xx-large;
    padding-left: 100px;
    padding-top: 20px;
}

.post_img{
    margin: auto;
    display: block;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.postimgs > img{
    height: 25vw;
}

.cody_img{
    margin: auto;
    display: block;
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
}


.postimgs{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.cody_list{
    font-size: 20px;
    text-align: center;
}

.clothes_list{
    font-size: 20px;
    text-align: center;
}



.post_author{
    font-size: 20px;
    padding-left: 105px;
}

.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: right;
    padding-right: 20px;
}

.button-box > button {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    height: 28px;
    margin-top: 3px;
    transition: 0.2s;
}

.button-box > button:hover{
    background-color: #E0E0E0;
}


.delbtn{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    transition: 0.2s;
}

.delbtn:hover{
    background-color: #E0E0E0;
}

.comment-list{
    margin-bottom: 5rem;
    margin-left: 6rem;
}

.comment-list hr{
    width: 71.5%;
}

.comment-list p{
    margin-top: 1rem;
}

#comment-con{
    margin-left: 100px;
    margin-right: 12.5rem;
    margin-bottom: 50px;
}

.comment-input{
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.2s;
    resize: none;
}

.comment-sum{
    margin-left: 16.125rem;
}

form svg{
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

#listbtn{
    margin-top: 1px;
    height: 30px;
    transition: 0.2s;
}

#listbtn:hover{
    background-color: #E0E0E0;
    color: white;
}


