.button-box{
  margin-bottom: 30px;
}

#comment-con{
  margin-top: 50px;
  margin-bottom: 30px;
  justify-content:center;
}

.comment-input {
  width: 60%;
  height: 100px;
  border-width: 1px;
  border-radius: 5px;
}

#comment-btn-1{
  margin-left: 5%;
}


#comment-list-1{
  margin-left: 15.7%;
  margin-right: 10%;
  margin-bottom: 50px;
}
