@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
    .postimgs > img {max-width: 80%; height: auto;}

    .post_category {padding-left: 1.5rem; padding-right: 1.5rem; font-size: 2rem;}

    .post_title {padding-top: 1rem; padding-bottom: 1rem; padding-left: 1.5rem; padding-right: 1.5rem; font-size: 1.3rem;}

    .post_author {padding-left: 1.5rem; padding-right: 1.5rem;}

    .post_time {padding-left: 1.5rem; padding-right: 1.5rem; margin-bottom: 1rem;}

    .post_content {padding-left: 1.5rem; padding-right: 1.5rem; font-size: 1.1rem;}

    .cp {padding-left: 1.5rem; padding-right: 1.5rem;}

    #comment-con{margin-left: 1.5rem; margin-right: 0; margin-bottom: 3.125rem;}

    #com_detail_heart{width: 1.188rem; height: 1.563rem;}

    #com_detail_btn {padding-left: 0.188rem; padding-bottom: 0.563rem;}

    .delbtn{color: black !important; text-decoration: none !important;}

    #com_del{width: 3rem;}

    .comment_other{width: 75%;}
}


@media screen and (min-width: 768px) and (max-width:1024px){
    #com_del{width: 3rem;}

    .comment_other{width: 75%;}
}
