.post_title{
    font-size: 2.5rem;
    padding-left: 6.25rem;
    padding-top: 2.5rem;
}

.post_img{
    margin: auto;
    display: block;
    width: 25.75rem;
    border-radius: 0.625rem;
    margin-bottom: 2.5rem;
    margin-top: 1.25rem;
}

.cody_img{
    margin: auto;
    display: block;
    width: 18.75rem;
    border-radius: 0.625rem;
    margin-top: 1.25rem;
}

.postimgs > img{
    height: 35rem;
    width: 33rem;
    border-radius: 0.938rem;
    margin: auto;
    display: block;
    margin-bottom: 70px;
}

.cody_list{
    font-size: 1.25rem;
    text-align: center;
}

.clothes_list{
    font-size: 1.25rem;
    text-align: center;
}

.post_author{
    font-size: 1.25rem;
    padding-left: 6.563rem;
}

.post_time{
    color:#b4b4b4;
    font-size: 1.063rem;
    padding-left: 6.563rem;
}

.post_content{
    font-size: 1.05rem;
    padding-left: 6.563rem;
    padding-bottom: 2rem;
}

.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: right;
    padding-right: 1.25rem;
}

.button-box > button {
    background-color: white;
    border: 2px solid black;
    border-radius: 0.625rem;
    font-size: 0.938rem;
    height: 1.75rem;
    margin-top: 0.188rem;
    transition: 0.2s;
}

.button-box > button:hover{
    background-color: #E0E0E0;
}


.delbtn{
    background-color: white;
    border: 2px solid black;
    border-radius: 0.625rem;
    font-size: 0.938rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-top: 0.125rem;
    transition: 0.2s;
}

.delbtn:hover{
    background-color: #E0E0E0;
}

.delbtn2{
    background-color: white;
    border: 2px solid black;
    border-radius: 0.4rem;
    font-size: 11px;
    width: 36px;
    height: 22px;
    float: right;
    margin-left: 0.188rem;
    margin-right: 280px;
    margin-top: 0.125rem;
    margin-bottom: 15px;
    transition: 0.2s;
}

.delbtn2:hover{
    background-color: #E0E0E0;
}

.del_list{
    margin-left: 39px;
}

.del_list > hr{
    width: 840px;
}


.comment-list{
    margin-bottom: 5rem;
    margin-left: 6rem;
}

.comment_other_hr{
    width: 838px;
    margin-left: 39px !important;
}

#comment-con{
    margin-left: 0px !important;
    margin-right: 12.5rem;
    margin-bottom: 3.125rem;
}

.comment-input{
    border: 2px solid black;
    border-radius: 0.625rem;
    transition: 0.2s;
    resize: none;
    margin-left: 320px;
}

.comment-sum{
    margin-left: 12.25rem;
}

.comment-sum > hr{
    width: 1026px;
}

.comment_author{
    font-size:20px;
}

.d-flex{
    padding-left: 3px !important;
    padding-top: 35px;
    padding-bottom: 20px !important;
}

.d-flex > hr{
    width: 830px !important;
}

#like {
    padding-left: 50px !important;
    padding-right: 45px;
}
#user_comment_list{
    padding-top: 35px;
    padding-bottom: 2px !important;
}

.comment_author_other{
    font-size: 20px;
}

form svg{
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 12.875rem;
}

#listbtn{
    margin-top: 1px;
    height: 1.875rem;
    transition: 0.2s;
}

#listbtn:hover{
    background-color: #E0E0E0;
    color: white;
}


.cody_detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
    margin-bottom: 130px;
}

.cody_detail > * > img{
    width: 200px;
}

.cody_title{
    text-align: center;
    font-size: 19px;
}

.item__container {
    position: relative;
}

.cody_detail > .item__container > .like_icon_position{
    position: absolute;
    top: 4px;
    right: 4px;
}