.post_category{
    font-size: 2.5rem;
    padding-left: 6.25rem;
    padding-top: 2.5rem;
    padding-right: 6.25rem;
}

.post_title{
    font-size: 2rem;
    padding-left: 6.25rem;
    padding-top: 2.5rem;
    padding-right: 6.25rem;
}

.post_img{
    margin: auto;
    display: block;
    width: 25.75rem;
    border-radius: 0.625rem;
    margin-bottom: 2.5rem;
    margin-top: 1.25rem;
}

.cody_img{
    margin: auto;
    display: block;
    width: 18.75rem;
    border-radius: 0.625rem;
    margin-top: 1.25rem;
}

.postimgs > img{
    max-width: 50%;
    height: auto;
    display: block;
    border-radius: 0.938rem;
    margin: auto;
    margin-bottom: 6rem;
}

.cody_list{
    font-size: 1.25rem;
    text-align: center;
}

.clothes_list{
    font-size: 1.25rem;
    text-align: center;
}

.post_author{
    font-size: 1.25rem;
    padding-left: 6.563rem;
}


.post_time{
    color:#b4b4b4;
    font-size: 1.063rem;
    padding-left: 6.563rem;
}

.post_content{
    margin-top: 4rem; 
    font-size: 1.05rem;
    padding-left: 6.563rem;
    padding-bottom: 2rem;
}

.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: right;
    padding-right: 1.25rem;
}

.button-box > button {
    background-color: white;
    border: 2px solid black;
    border-radius: 0.625rem;
    font-size: 0.938rem;
    height: 1.75rem;
    margin-top: 0.188rem;
    transition: 0.2s;
}

.button-box > button:hover{
    background-color: #E0E0E0;
}


.delbtn{
    background-color: white;
    border: 2px solid black;
    border-radius: 0.625rem;
    font-size: 0.938rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-top: 0.125rem;
    transition: 0.2s;
}

.delbtn:hover{
    background-color: #E0E0E0;
}
.postbtn{
background-color: white;
border: 2px solid black;
border-radius: 0.625rem;
font-size: 0.938rem;
margin-left: 0.625rem;
margin-right: 0.625rem;
margin-top: 0.125rem;
transition: 0.2s;
}

.postbtn:hover{
    background-color: #E0E0E0;
}


.delbtn2{
    background-color: white;
    border: 2px solid black;
    border-radius: 0.4rem;
    font-size: 11px;
    width: 36px;
    height: 22px;
    transition: 0.2s;
}

.delbtn2:hover{
    background-color: #E0E0E0;
}

.del_list{
    margin-left:auto;
}

/*.del_list > hr{
    width: 840px;
}*/


.comment-list{
    margin-bottom: 5rem;
}


#comment-con{
    margin-left: 1rem;
    margin-bottom: 3.125rem;
}

.comment-input{
    width: 100%;
    border: 2px solid black;
    border-radius: 0.625rem;
    transition: 0.2s;
    resize: none;
}


.comment-sum > hr{
    width: 1026px;
}

.comment_author{
    font-size:20px;
}

.d-flex > hr{
    width: 830px !important;
}

#like {
    padding-left: 50px !important;
    padding-right: 45px;
}
#user_comment_list{
    padding-top: 35px;
    padding-bottom: 2px !important;
}

.comment_author_other{
    font-size: 20px;
}

form svg{
    width: 1.875rem;
    height: 1.875rem;
    margin-left: 12.875rem;
}

#listbtn{
    margin-top: 1px;
    height: 1.875rem;
    transition: 0.2s;
}

#listbtn:hover{
    background-color: #E0E0E0;
    color: white;
}


.cody_detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
    margin-bottom: 130px;
}

.cody_detail > * > img{
    width: 200px;
}

.cody_title{
    text-align: center;
    font-size: 19px;
}

.item__container {
    position: relative;
}

.cody_detail > .item__container > .like_icon_position{
    position: absolute;
    top: 4px;
    right: 4px;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {
    .postimgs > img {max-width: 80%; height: auto;}

    .post_category {padding-left: 1.5rem; padding-right: 1.5rem;}

    .post_title {padding-top: 1rem; padding-bottom: 1rem; padding-left: 1.5rem; padding-right: 1.5rem;}

    .post_author {padding-left: 1.5rem;}

    .post_time {padding-left: 1.5rem; margin-bottom: 1rem;}

    .post_content {padding-left: 1.5rem;}
}