form{
    padding-left: 36.25rem;
}

label{
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-right: 0.938rem;
}

#subbtn{
    margin-left: 6.875rem;
    margin-bottom: 1.875rem;
}

#id_clothes{
    width: 10.313rem;
}

#id_main_img{
    padding-left: 2.5rem;
}

#id_title{
    margin-left: 1.25rem;
}