{% extends 'main/base.html'%}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
<link rel="stylesheet" href="{% static 'css/community_react.css' %}">
<title>community</title>
{% endblock %}


{% block content %}

<body>
  <div class="main">
    <div class="post-all px-5">
      <div class="post_all">{{title}}
        <p class="new_post">  
        <a href="{% url 'community:talk_create' %}">게시글 작성</a>
        <a href="{% url 'community:talk_create' %}"><i class="fa-regular fa-pen-to-square"></i></a>
        </p>
      </div>
      <div class="com_list">
      <a href="{% url 'community:community_main' %}">ALL</a>
      <a href="{% url 'community:buying' %}">공구해요</a>
      <a href="{% url 'community:openrun' %}">오픈런</a>
      <a href="{% url 'community:other' %}">잡담방</a>
      </div>
      <div class="compost_list">
      {%for talk in talk_list%}
      <div class="post-box">
        <div  class="commain_title"><a href="{% url 'community:talk_detail' talk.pk %}">{{talk.title}} </a> </div>
        <div> {{talk.category}} </div>
        <div> <i class="fa-regular fa-heart" id></i> {{talk.total_likes}} 
          <i class="fa-regular fa-comment" style="margin-left:10px;"></i>
          {%for count in comments_count%}
          {%if forloop.counter0 == talk.pk %} {{count}}
          {%endif%}
          {%endfor%} 
        </div>
        <div>{{talk.create_date}}</div>
      </div>
      {%endfor%}
    </div>
    </div>
  </div>
</body>
{% endblock %}