{% extends 'main/base.html'%}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
<link rel="stylesheet" href="{% static 'css/community_react.css' %}">
<title>community</title>
{% endblock %}


{% block content %}

<body>
  <div class="main">
    <div class="post-all">
      <div class="post_all px-5">{{title}}
        <p class="new_post">  
        <a href="{% url 'community:talk_create' %}">게시글 작성</a>
        <a href="{% url 'community:talk_create' %}"><i class="fa-regular fa-pen-to-square"></i></a>
        </p>
      </div>
      <div class="com_list px-5">
      <a href="{% url 'community:community_main' %}">ALL</a>
      <a href="{% url 'community:buying' %}">공구해요</a>
      <a href="{% url 'community:openrun' %}">오픈런</a>
      <a href="{% url 'community:other' %}">잡담방</a>
      </div>
      <div>
        <div class="post-box">
          <div id="post_menu">
            <span>게시판</span>
            <span>제목</span>
            <span>작성일</span>
            <span><i class="fa-regular fa-heart" id></i></span>
          </div>
        </div>
        <hr>
      {%for talk in talk_list%}
        <div  class="commain_title">
          <span id="talk_category">{{talk.category}}</span>
          <span id="talk_title">
            <a href="{% url 'community:talk_detail' talk.pk %}">{{talk.title}}</a>
            <span id="talk_comment">
              <i class="fa-regular fa-comment"></i>
              {%for count in comments_count%}
              {%if forloop.counter0 == talk.pk %}
              {{count}}
              {%endif%}
              {%endfor%}
            </span>
          </span>
          <span id="talk_date">{{talk.create_date}}</span>
          <span id="talk_like">{{talk.total_likes}}</span>
        </div>
        <hr>
      </div>
      {%endfor%}
    </div>
    </div>
  </div>
</body>
{% endblock %}