@import "reset.css";

.main{
    background-color: #6496FF;
    position: sticky;
    top: 0px;
    z-index: 500%;
}

.nav{
    padding-right: 350px;
}

.title{
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.d-flex{
    width: 300px;
    padding-right: 30px;
    height: 30px;
}

.form-control{
    margin-right: 20px;
}

.scb{
    font-size: 12px;
}

/* community css */
#banner{
    height: 200px;
    text-align: center;
}

.right {
    border-right: 1px solid black;
    height: 100%;
}

.col-3 {
    border-left: 5rem;
}

.con{
    border: 2px;
    width: 200px;
    padding: 8px;
    border-radius: 10px;
}

.con div span{
    margin-left: 30px;
}

#user-img{
    width: 100px;
    height: 100px;
}

.menu{
    margin-top:10px;
}

.menu div{
    margin-left:10px;
}

.menu hr{
    width: 200px;
}

.ootd{
    padding-right: 20px;
}

.com-title{
    font-size: 20px; 
    margin-left: 20px;
}

.content img{
    width: 150px;
    height: 150px;
    
}

.content {
    text-align: center;
}

.content div{
    text-align: left;
    margin-left: 57px;
}