{% extends 'main/base.html'%}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/update.css' %}">
<title>게시글 수정</title>
{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.media }}
        {{ form.as_p }}
    </table>
    <button type="submit" class="btn btn-primary float-right" id="subbtn">Submit</button>
</form>
<!-- 
<form action="{% url 'community:update' post.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>title :</p>
    <input name="title" value="{{post.title}}" />
    <p>Main img :</p>
    <input type="file" name="image" value="{{ post.main_img.url }}"/>
    {% comment %} <p>현재 이미지 : {{ post.main_img.url }} </p> {% endcomment %}
    
    <p>Outer :</p>
    <select name="outer" id="outer" multiple="" style="width:200px;">
        {% for outer in outer_list %}
        {% if outer.pk == i %}
        <option value="{{ outer.id }}" name="outer" selected
            style="background-image: url({{outer.rem_img.url}}); background-size: contain; background-repeat: no-repeat; height:40px; background-position: right center;">{{ outer.title }}
        </option>
        {% else %}
        <option value="{{ outer.id }}" name="outer"
            style="background-image: url({{outer.rem_img.url}}); background-size: contain; background-repeat: no-repeat; height:40px; background-position: right center;">{{ outer.title }}
        </option>
        {% endif %}
        {% endfor %}
    </select>
    <p>Top :</p>
    <select name="top" id="top" multiple="">
        {% for top in top_list %}
        {% if top.pk == i %}
            <option value="{{ top.id }}" name="top" selected>{{ top.title }}</option>
        {% else %}
            <option value="{{ top.id }}" name="top">{{ top.title }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <p>Bottom :</p>
    <select name="bottom" id="bottom" multiple="">
        {% for bottom in bottom_list %}
        {% if bottom.pk == post.bottom.pk %}
            <option value="{{ bottom.id }}" name="bottom" selected>{{ bottom.title }}</option>
        {% else %}
            <option value="{{ bottom.id }}" name="bottom">{{ bottom.title }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <p>Shoes :</p>
    <select name="shoes" id="shoes" multiple="">
        {% for shoes in shoes_list %}
        {% if shoes.pk == shoes.top.pk %}
        <option value="{{ shoes.id }}" name="shoes" selected>{{ shoes.title }}</option>
        {% else %}
        <option value="{{ shoes.id }}" name="shoes">{{ shoes.title }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <p>Acc :</p>
    <select name="acc" id="acc" multiple="">
        {% for acc in acc_list %}
        {% if acc.pk == post.acc.pk %}
            <option value="{{ acc.id }}" name="acc" selected>{{ acc.title }}</option>
        {% else %}
            <option value="{{ acc.id }}" name="acc">{{ acc.title }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <p>
        {% if post.open %}
            public<input type="radio" name="open" value="True" checked="checked">
            private<input type="radio" name="open" value="False">
        {% else %}
            public<input type="radio" name="open" value="True">
            private<input type="radio" name="open" value="False" checked="checked">
        {% endif %}
    </p>
    <input type="submit", value="저장하기" class="btn btn-secondary" />
</form> -->
{% endblock %}