{% extends 'main/base.html'%}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/post_create.css' %}">
    <title>community</title>
{% endblock %}

{% block content %}
<div class = "post_title">{{post.title}}</div>
<div class = "post_author">{{post.author}}</div>

<div class="button-box">
  {%if user == post.author%}
  <button>
    <a href="{% url 'community:update' post.pk%}" style="color:black; text-decoration:none;">수정하기</a>
  </button>
  <form action="{% url 'community:delete' post.pk%}" method="post">
    {% csrf_token %}
    <input type="submit" , value="삭제하기" , class="delbtn"/>
  </form>
  {%endif%}
  <button id="listbtn">
    <a href="{% url 'community:community_main' %}" style="color:black; text-decoration:none;">목록</a>
  </button>
</div>
<br /><br />
<div class="postimgs">
    {%if post.main_img %}
    <img src="{{post.main_img.url}}" class = "post_img1"> <br />
    {%endif%}

    <div class = "post_cody">코디한 룩북 <br>
    {%for clothes in post.clothes.all%}
    <img src="{{clothes.img.url}}" class = "post_img">
    {%endfor%}
    </div> 
</div>
<hr>  
<div class="comment-sum">

    <div id="comment-list-{{post.pk}}" class="comment-list">
        {% for comment in comments %}
            <div class="d-flex align-items-center m-0 p-4">
                <i class="fa-solid fa-user m-3"></i>
                <div>
                    <div>{{comment.author.username}}</div>
                    <div>{{comment.content}}</div>
                    <!-- 추가로 댓글 수정 삭제를 넣어볼까 생각중 -->
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% if user.is_authenticated %}
<form action="{% url 'community:likes' post.pk %}" method='POST'>
  {% csrf_token %}
  {% if user in post.likes.all %}
  <button class="btn btn-link text-danger" id="like">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill"
      viewBox="0 0 16 16">
      <path 
        d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
    </svg> 
  </button>
  {% else %}
  <button class="btn btn-link text-danger">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart"
      viewBox="0 0 16 16">
      <path id="postlike"
        d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
    </svg>
  </button>
  {% endif %}
</form>
<div id="comment-con" class="d-flex justify-content-between align-items-center">
  <form>
    <textarea rows="4" cols="100" id="comment-input-{{post.pk}}" class="comment-input" type="text" placeholder="댓글 달기..."></textarea>
  </form>
  <div class="comment-btn btn" id="comment-btn-{{post.pk}}" onclick="onClickCommenet({{post.id}})">
    <input type="submit" , value="게시" , class="delbtn"/>
  </div>
</div>
{% else%}
<div>댓글을 작성하려면 로그인어쩌구 잘 꾸며주세요 프론트 쏘리...
    누르면 그 로그인 하라는거 뜨도록 하면 좋을거 같기도하고 모르겠따
</div>
{% endif %}
</div>
<script>
  const requestComment = new XMLHttpRequest();

  const onClickCommenet = (id) => {
    const url = "/community/comment/";
    requestComment.open("POST", url, true);
    requestComment.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    let content = document.querySelector(`#comment-input-${id}`).value;
    let data = {
      user: '{{user.username}}',
      post_id: id,
      content: content,
    }
    requestComment.send(JSON.stringify(data));
  }
  
  requestComment.onreadystatechange = () => {
    if (requestComment.readyState === XMLHttpRequest.DONE) {
      if (requestComment.status < 400) {
        const { author, post_id, content, comment_id } = JSON.parse(requestComment.response);
        document.querySelector(`#comment-input-${post_id}`).value = "";
        const element = document.querySelector(`#comment-list-${post_id}`);
        let jak = document.createElement("p");
        jak.append(`${author}`);
        element.appendChild(jak);
        let temp = document.createElement("p");
        let temptext = document.createTextNode(`  ${content}`);
        temp.appendChild(temptext);
        element.appendChild(temp);
        let h = document.createElement("hr");
        element.appendChild(h);
      }
    }
  }
</script>
{% endblock %}