{% extends 'main/base.html'%}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
<title>new community</title>
{% endblock %}
{% block content %}
<form action="{% url 'community:post_create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>title :</p>
    <input name="title" />
    <p>Main img :</p>
    <input type="file" name="image" />
    <div class="clothes_list_box">
        <p>Outer: </p>
        {% for outer in outer_list %}
            <div class="m-3">
                <input type="checkbox" value="{{outer.pk}}" id="{{outer.title}}" name="outer">
                <label for="{{outer.title}}" class="d-flex flex-column">
                    <img src="{{outer.rem_img.url}}" alt="{{outer.title}}">
                    <span class="text-center">{{outer.title}}</span>
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="clothes_list_box">
        <p>Top: </p>
        {% for top in top_list %}
            <div class="m-3">
                <input type="checkbox" value="{{top.pk}}" id="{{top.title}}" name="top">
                <label for="{{top.title}}" class="d-flex flex-column">
                    <img src="{{top.rem_img.url}}" alt="{{top.title}}">
                    <span class="text-center">{{top.title}}</span>
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="clothes_list_box">
        <p>Bottom: </p>
        {% for bottom in bottom_list %}
            <div class="m-3">
                <input type="checkbox" value="{{bottom.pk}}" id="{{bottom.title}}" name="bottom">
                <label for="{{bottom.title}}" class="d-flex flex-column">
                    <img src="{{bottom.rem_img.url}}" alt="{{bottom.title}}">
                    <span class="text-center">{{bottom.title}}</span>
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="clothes_list_box">
        <p>Shoes: </p>
        {% for shoes in shoes_list %}
            <div class="m-3">
                <input type="checkbox" value="{{shoes.pk}}" id="{{shoes.title}}" name="shoes">
                <label for="{{shoes.title}}" class="d-flex flex-column">
                    <img src="{{shoes.rem_img.url}}" alt="{{shoes.title}}">
                    <span class="text-center">{{shoes.title}}</span>
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="clothes_list_box">
        <p>Acc: </p>
        {% for acc in acc_list %}
            <div class="m-3">
                <input type="checkbox" value="{{acc.pk}}" id="{{acc.title}}" name="acc">
                <label for="{{acc.title}}" class="d-flex flex-column">
                    <img src="{{acc.rem_img.url}}" alt="{{acc.title}}">
                    <span class="text-center">{{acc.title}}</span>
                </label>
            </div>
        {% endfor %}
    </div>
    <p>
        public<input type="radio" name="open" value="True" checked="checked">
        private<input type="radio" name="open" value="False">
    </p>
    <input type="submit", value="저장하기" class="opc_submit btn btn-secondary"/>
</form>
{% endblock %}