{% extends 'main/base.html'%}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
<title>게시글 수정</title>
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data" class="text-center m-3">
  {% csrf_token %}
  <div class="fs-5">게시물 수정</div>
  <br>
  {% if error %}
  <p class="error-color">필수 항목이 입력되지 않았습니다.</p>
  {% endif %}
  <input type="text" name="title" value="{{talk.title}}" />
  <pre></pre>
  <div>카테고리를 선택해주세요</div>
  <select name="category" id="category">
    {% if talk.category == '공동 구매' %}
    <option value="공동 구매" selected>공동구매</option>
    <option value="오픈런">오픈런</option>
    <option value="잡담방">잡담방</option>
    {% elif talk.category == '오픈런' %}
    <option value="공동 구매">공동구매</option>
    <option value="오픈런" selected>오픈런</option>
    <option value="잡담방">잡담방</option>
    {% else %}
    <option value="공동 구매">공동구매</option>
    <option value="오픈런">오픈런</option>
    <option value="잡담방" selected>잡담방</option>
    {% endif %}
  </select>
  <pre></pre>
  <textarea name="content" id="content" cols="30" rows="10" style="resize:none">{{talk.content}}</textarea>
  <pre></pre>

  <div class="filebox">
    <label for="file" class="btn btn-light">사진수정하기</label>
    <input type="file" name="image" onchange="fileUpload({{ user.id }})" id="file">
  </div>
  <br>
  {% if talk.img %}
  <img id="pro_img" src="{{ talk.img.url }}" style="width:200px; height:200px; border: 1px solid gray">
  {% else %}
  <img id="pro_img" style="width:200px; height:200px; border: 1px solid gray">
  {% endif %}
  <pre></pre>

  <button type="submit" class="btn btn-secondary float-right" id="subbtn">수정</button>
</form>

<script>
  const strip = (string) => {
    return string.replace(/^\s+|\s+$/g, "");
  };
  const requestUpload = new XMLHttpRequest();
  const fileUpload = (id) => {
    const url = "/community/talk-create/" + id;
    requestUpload.open("POST", url, true)
    requestUpload.setRequestHeader(
      "Content-Type",
      "application/x-www-form-urlencoded"
    );
    requestUpload.send(JSON.stringify({ id: id }));
  };

  requestUpload.onreadystatechange = () => {
    if (requestUpload.readyState === XMLHttpRequest.DONE) {
      if (requestUpload.status < 400) {
        const { id } = JSON.parse(requestUpload.response);
        const fileName = document.getElementById(`file`);
        const fReader = new FileReader();
        fReader.readAsDataURL(fileName.files[0]);
        fReader.onloadend = function (event) {
          const img = document.getElementById(`pro_img`);
          img.src = event.target.result;
        }
      };
    };
  };
</script>
{% endblock %}