{% extends 'main/base.html'%}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/post_detail_react.css' %}">
<title>community</title>
{% endblock %}

{% block content %}
<div class="modal fade" id="delete_talk_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">착장을 삭제하시겠습니까?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <form action="{% url 'community:talk_delete' talk.pk%}" method="post">
          {% csrf_token %}
          <input type="submit" , value="삭제" , class="btn btn-primary" />
        </form>
      </div>
    </div>
  </div>
</div>

<div class="post_category">{{talk.category}}</div>
<div class="post_title">
  {{talk.title}}
  {% if user.is_authenticated %}
  <form action="{% url 'community:talk_likes' talk.pk %}" method='POST' class="d-inline-block">
    {% csrf_token %}
    {% if user in talk.likes.all %}
    <button class="btn btn-link text-danger" id="com_detail_btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill m-0" id="com_detail_heart"
        viewBox="0 0 16 16">
        <path
          d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
      </svg>
    </button>
    {% else %}
    <button class="btn btn-link text-danger" id="com_detail_btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart m-0" id="com_detail_heart"
        viewBox="0 0 16 16">
        <path
          d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
      </svg>
    </button>
    {% endif %}
  </form>
  {% endif %}
</div>
<div class="post_author">{{talk.author}}</div>
<div class="post_time">{{talk.create_date}}</div>

<div class="button-box">
  {% if user == talk.author %}
  <button>
    <a href="{% url 'community:talk_update' talk.pk%}" style="color:black; text-decoration:none;">수정하기</a>
  </button>
  <form action="{% url 'community:talk_delete' talk.pk%}" method="post">
    {% csrf_token %}
    <button type="button" class="delbtn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_talk_modal">
      삭제
    </button>
  </form>
  {% endif %}
  <button id="listbtn">
    <a href="{% url 'community:community_main' %}" style="color:black; text-decoration:none;">목록</a>
  </button>
</div>
<br /><br />
<div class="post_content">
  {{talk.content|linebreaks}}
</div> <br />

<div class="postimgs">
  {% if talk.img %}
  <img src="{{talk.img.url}}" class="post_img1"> <br />
  {% endif %}
</div>

<hr>
<div class="comment-sum">
  <div id="comment-list-{{talk.pk}}" class="comment-list">
    <div class="comm">
      {% for comment in t_comments %}
      <div class="d-flex justify-content-between align-items-center cp">
        <div class="d-flex">
          {% if comment.author.profile.profile_image %}
          <img src="{{comment.author.profile.profile_image.url}}" class="user_profile me-2">
          {% else %}
          <i class="fa-solid fa-user my-3 me-3" style="margin-left: 0.62rem;"></i>
          {% endif %}
          <div class="comment_other">
            <div class="comment_author">{{comment.author.username}}</div>
            <div class="content_other">{{comment.content}}</div>
          </div>
        </div>
        {% if user == comment.author %}
        <div class="del_list">
          <button type="button" class="delbtn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_tcomment_modal_{{comment.pk}}">
            삭제
          </button>
        </div>
        <div class="modal fade" id="delete_tcomment_modal_{{comment.pk}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">댓글을 삭제하시겠습니까?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <form action="{% url 'community:delete_tcomment' comment.pk %}" method="post" class="comment_detail">
                  {% csrf_token %}
                  <input type="submit" , value="삭제" , class="btn btn-primary" />
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      <hr />
      {% endfor %}
    </div>
  </div>
</div>

{% if user.is_authenticated %}
<p id="comment-non"></p>
<div id="comment-con" class="d-flex justify-content-center align-items-center">
  <form>
    <textarea rows="4" cols="100" id="comment-input-{{talk.pk}}" class="comment-input" type="text"
      placeholder="댓글 달기..."></textarea>
  </form>
  <div class="comment-btn" id="comment-btn-{{talk.pk}}" onclick="onClickCommenet({{talk.id}})">
    <input type="submit" , value="게시" , class="delbtn" />
  </div>
</div>
{% else %}
<div id="comment-con" class="d-flex justify-content-center align-items-center">
  <form>
    <textarea rows="4" cols="100" id="comment-input-{{talk.pk}}" class="comment-input" type="text"
      placeholder="로그인 후 이용해주세요" readonly></textarea>
  </form>
  <a class="mx-1 btn btn-secondary" href="{% url 'user:login' %}">로그인</a>
</div>
{% endif %}

<script>
  const requestComment = new XMLHttpRequest();

  const onClickCommenet = (id) => {
    const url = "/community/talk-comment/";
    requestComment.open("POST", url, true);
    requestComment.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    let content = document.querySelector(`#comment-input-${id}`).value;
    let data = {
      user: '{{user.username}}',
      talk_id: id,
      content: content,
    }
    requestComment.send(JSON.stringify(data));
  }

  requestComment.onreadystatechange = () => {
    if (requestComment.readyState === XMLHttpRequest.DONE) {
      if (requestComment.status < 400) {
        const { user_img_url, author, talk_id, content, comment_id } = JSON.parse(requestComment.response);
        document.querySelector(`#comment-input-${talk_id}`).value = "";
        const element = document.querySelector(`#comment-list-${talk_id}`);
        const comm = document.querySelector(`.comm`);
        const newComment = document.createElement('div');
        const non_com = document.querySelector(`#comment-non`);
        non_com.className = "error-color text-center";
        if (content == 0) {
          non_com.innerHTML = `내용을 입력해주세요.`;
        }
        else {
          non_com.innerHTML = ``;        
          newComment.className = "d-flex justify-content-between align-items-center cp";
          if (user_img_url == 0) {
            newComment.innerHTML = `<div class="d-flex"><i class="fa-solid fa-user my-3 me-3" style="margin-left: 0.62rem;"></i>
              <div class="comment_other">
                <div class="comment_author_other">${author}</div>
                <div class="content_other">${content}</div>
              </div></div>
              <div class="del_list">
                <button type="button" class="delbtn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_tcomment_modal_${comment_id}">
                  삭제
                </button>
              </div>
              <div class="modal fade" id="delete_tcomment_modal_${comment_id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">댓글을 삭제하시겠습니까?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                      <form action="/community/delete-tcomment/${comment_id}/" method="post" class="comment_detail">
                        {% csrf_token %}
                        <input type="submit" , value="삭제" , class="btn btn-primary" />
                      </form>
                    </div>
                  </div>
                </div>
              </div>`;
          }
          else {
            newComment.innerHTML = `<div class="d-flex">
              <img src="${user_img_url}" class="user_profile me-2">
              <div class="comment_other">
                <div class="comment_author_other">${author}</div>
                <div class="content_other">${content}</div>
              </div></div>
              <div class="del_list">
                <button type="button" class="delbtn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_tcomment_modal_${comment_id}">
                  삭제
                </button>
              </div>
              <div class="modal fade" id="delete_tcomment_modal_${comment_id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">댓글을 삭제하시겠습니까?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                      <form action="/community/delete-tcomment/${comment_id}/" method="post" class="comment_detail">
                        {% csrf_token %}
                        <input type="submit" , value="삭제" , class="btn btn-primary" />
                      </form>
                    </div>
                  </div>
                </div>
              </div>`;
          }
          comm.appendChild(newComment);
          let h = document.createElement("hr");
          comm.appendChild(h);
        };
      };
    };
  };
  
  const requestDelete = new XMLHttpRequest();
    const onClickDelete = (post_id, comment_id) => {
        const url = "/insta/comment/" + post_id + "/delete";
        requestDelete.open("POST", url, true)
        requestDelete.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
        );
        requestDelete.send(JSON.stringify({post_id: post_id, comment_id: comment_id}));
    };

    requestDelete.onreadystatechange = () => {
        if (requestDelete.readyState === XMLHttpRequest.DONE) {
            if (requestDelete.status < 400) {
                const { post_id, comment_id } = JSON.parse(requestDelete.response);
                const targetContainer = document.querySelector(`#container`);
                const target = document.getElementById(`${comment_id}`);
                targetContainer.removeChild(target);
            }
        }
    };
</script>
{% endblock %}