{% extends 'main/base.html' %}
{% block content %}
<div class="d-flex flex-column justify-content-start align-items-center" style="text-align: center;">
  <br>
  <h1>로그인</h1>
  <form method="POST" style="width: 380px;" class="d-flex flex-column align-items-start">
    {% csrf_token %}
    <div>아이디:</div>
    <input name="username" type="text" style="width:100%;">
    <div>비밀번호:</div>
    <input name="password" type="password" style="width:100%;">
    <br>
    {% if msg %}
    {{ msg }}
    {% endif %}
    <input type="submit" class="btn btn-primary" style="width:100%;" value="Log In">
    <div>아직 계정이 없으신가요?</div>
    <a href="{% url 'user:signup' %}" class="btn btn-primary" style="width:100%;" value="Sign Up">Sign Up</a>
    <div>또는</div>
  </form>
  {% load static %}
  {% static 'img/naver_login.png' as naver_button %}
  {% static 'img/google_login.png' as google_button %}
  {% load i18n %}
  {% load account socialaccount %}
  {% get_providers as socialaccount_providers %}
  <div class="socialaccount_providers">
  <div class="d-flex">
  {% for provider in socialaccount_providers %}
  {% if provider.id == "openid" %}
  {% for brand in provider.get_brands %}
    <div>
      <a title="{{brand.name}}"
        class="socialaccount_provider {{provider.id}} {{brand.id}}"
        href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
        >{{brand.name}}</a>
    </div>
  {% endfor %}
  {% endif %}

    <!--제공자에 따라 만들어짐.-->
  
    {% if provider.name == "Naver" %}
    <div class="pull-left">
      <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        <img src="{{ naver_button }}" height="34">
      </a>  
    </div>
    
    {% elif provider.name == "Google" %}
      <div class="pull-left">
        <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
          <img src="{{ google_button }}" height="34">
        </a>
      </div>
        
    {% else %}
      <div>
        <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
          href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
      </div>
    {% endif %}
  
  {% endfor %}
  </div>
</div>
  <br>
</div>
{% endblock %}

