{% extends "main/base.html" %}
{% load static %}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}
{% block content %}
<div class="text-center my-1 fs-5">소셜활동정보🧢</div>
<hr/>
<br>
<form action="{% url 'user:mypage_update_social' %}" method="post"  enctype="multipart/form-data">
  {% csrf_token %}
  <div class="d-flex flex-column align-items-center my-1">
    <div class="d-flex mypage_information_container flex-column" style="width: 95vw;">
      <div class="fs-5">소셜활동정보</div>
      <br>
      <div style="font-weight: 900;" class="fs-5">커뮤니티 - 내가 쓴 글</div>
      <br>
      <ul>
      {% if all_talks %}
      {% for talk in all_talks %}
        <li><a href="{% url 'community:talk_detail' talk.id %}">{{ talk.title }}</a></li>
      {% endfor %}
      {% else %}
        <div>아직 작성한 글이 없습니다!</div>
      {% endif %}
     </ul>
      <br>
      <div style="font-weight: 900;" class="fs-5">커뮤니티 - 내가 좋아요 한 글</div>
      <br>
      <ul>
      {% if all_likes %}
      {% for like in all_likes %}
        <li><a href="{% url 'community:talk_detail' like.id %}">{{ like.title }}</a></li>
      {% endfor %}
      {% else %}
        <div>아직 좋아요한 글이 없습니다!</div>
      {% endif %}
      </ul>
      <br>
      <div style="font-weight: 900;" class="fs-5">커뮤니티 - 내가 댓글을 작성한 글</div>
      <br>
      <ul>
      {% if talk_comments_list %}
      {% for comment in talk_comments_list %}
        <li><a href="{% url 'community:talk_detail' comment.id %}">{{ comment.title }}</a></li>
      {% endfor %}
      {% else %}
        <div>아직 작성한 댓글이 없습니다!</div>
      {% endif %}
      </ul>
      <br>
      <div style="font-weight: 900;" class="fs-5">모두의 옷장 - 내가 댓글을 작성한 글</div>
      <br>
      <ul>
      {% if post_comments_list %}
      {% for comment in post_comments_list %}
        <li><a href="{% url 'community:talk_detail' comment.id %}">{{ comment.title }}</a></li>
      {% endfor %}
      {% else %}
        <div>아직 작성한 댓글이 없습니다!</div>
      {% endif %}
      </ul>
      <input class="btn btn-secondary modify_btn" type="submit", value="돌아가기" />
    </div>
    <br>
  </div>
</form>

<script>
  const strip = (string) => {
    return string.replace(/^\s+|\s+$/g, "");
    };
  const requestUpload = new XMLHttpRequest();
  const fileUpload = (id) => {
      const url = "/user/mypage/update/profile_img/" + id;
      requestUpload.open("POST", url, true)
      requestUpload.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
      );
      requestUpload.send(JSON.stringify({id: id}));
  };

  requestUpload.onreadystatechange = () => {
    if (requestUpload.readyState === XMLHttpRequest.DONE) {
      if (requestUpload.status < 400) {
        const { id } = JSON.parse(requestUpload.response);
        const fileName = document.getElementById(`file`);
        const fReader = new FileReader();
        fReader.readAsDataURL(fileName.files[0]);
        fReader.onloadend = function(event){
            const img = document.getElementById(`pro_img`);
            img.src = event.target.result;
        }
      };
    };
  };
</script>

{% endblock %}