{% extends 'main/base.html' %}
{% block content %}
<div class="my-5 text-center">
  <form method="post" enctype="multipart/form-data" class="d-flex flex-column justify-content-center align-items-center">
    <h3>추가 정보 작성</h3>
    <div>추가 프로필 작성란이에요! 원하지 않는다면 작성하지 않아도 괜찮아요</div>
    
    <br>
    {% csrf_token %}
    <table>
      {{ form.media }}
      <div class="d-flex flex-column justify-content-center align-items-start">{{ form.as_p }}</div>
    </table>
    <button type="submit" class="btn btn-primary float-right" style="width: 380px;">Submit</button>
    <br>
    <div class="text-secondary">추가 프로필 정보는 필터링을 통해 회원님 체형에 맞는 착장을 추천하는 역할로만 사용됩니다.</div>
  </form>
</div>
{% endblock %}
