{% extends 'main/base.html' %}
{% block content %}
<div class="wrapper" style="text-align: center;">
  <br>
  <h1>회원가입</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="">
      아이디<br>
      <input name="username" type="text" placeholder="ID">
      <br>
      비밀번호<br>
      <input name="password1" type="password" placeholder="PW">
      <br>
      비밀번호<br>
      <input name="password2" type="password" placeholder="PW CHECK">
      <br>
      이메일<br>
      <input name="email" type="email" placeholder="EMAIL">
      <br><br>
      <input type="submit" class="btn btn-primary" value="Sign Up">
      <br>
      <br>
      <div>
        또는
      </div>
      <br>
      <input type="submit" class="btn btn-success" value="NAVER">
      <input type="submit" class="btn btn-secondary" value="GOOGLE">
    </div>
  </form>
  <br>
</div>
{% endblock %}